.form {
    margin: 20px;
    
  }
  
  .form input {
    display: block;
    margin: auto;
    margin-bottom: 15px;
    width: 20%;
    

  }

  #message form {
    height: 30px;
    width: 20%;

  }

  .background {
    background: rgb(126, 200, 235);
    background: radial-gradient(rgb(126, 200, 235) 0%, white 99%);
}
  